<style>

  .xlarge_VW {
    font-size: 8vw;
  }

  .large_VW {
    font-size: 6vw;
  }

  .medium_VW {
     font-size: 5vw
  }

  .small_VW {
     font-size: 4vw
  }

.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 3px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: finador-thin;
  white-space: nowrap;
}

</style>

<body>

<div class="center {{sizing}}">
  {{ variable }}
</div>

</body>
